<p>Title: <strong><%= project.title %></strong></p>
<p>Author: <strong><%= project.author %></strong></p>
<p>Description: <%= markdown(@project.desc) %></p>
<%unless action_name == "index"%>
	<p>Github_link: <a href="<%=project.github_link%>">project.github_link</a> </p>
<%end%>

<%= image_tag project.image_url, style:"height: auto; width: 200px;" %>
<br>
<%= link_to "Show Page", project if action_name == "index" %> |

<br>


